---
import Layout from "../../layouts/Layout.astro";
const blogs = await Astro.glob("./*.md");
---

<Layout title="Blog">
  <div class="flex flex-col divide-y">
    {
      blogs.map((blog) => (
        <div class="py-2">
          <a href={blog.url} class="flex gap-2">
            <img class="h-24" src={blog.frontmatter.cover} alt="cover photo" />
            <div class="flex flex-col">
              <h2>{blog.frontmatter.title}</h2>
              <p class="text-sm italic">
                {blog.frontmatter.date.toLocaleString("en-us")}
              </p>
            </div>
          </a>
        </div>
      ))
    }
  </div>
</Layout>
