---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import formatDate from "../../utils/formatDate";
const blogs = await getCollection("blog");
console.log(blogs);
---

<Layout title="Blog">
  <div class="flex flex-col divide-y">
    {
      blogs
        .filter((blog) => !blog.data.draft)
        .map((blog) => (
          <div class="py-2">
            <a href={`/blog/${blog.slug}`} class="flex gap-2">
              <img class="h-24" src={blog.data.cover} alt="cover photo" />
              <div class="flex flex-col">
                <h2>{blog.data.title}</h2>
                <p class="text-sm italic">{formatDate(blog.data.date)}</p>
              </div>
            </a>
          </div>
        ))
    }
  </div>
</Layout>
