:root {
  --navHeight: 84px;
  --pagePadding: clamp(1rem,5vw,4rem);
  --gap: clamp(1rem,2vw,2rem);
  --bg: #f9f9f9;
  --bgDarker: #f2f2f2;
  --bgLighter: white;
  --text: black;
  --textSoft: #606060;
  --soft: #e8e8e8;
  --boxShadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
