---
interface props {
  text: string;
  link: string;
}

const { link, text } = Astro.props;
---

<button class="bg-slate-50 px-4 py-2 rounded text-slate-600 m-4">
  <a href={link}>{text}</a>
</button>
