---
import Layout from "@/layouts/Layout.astro";
import Gallery from "../components/Gallery.jsx";
import getAlbums from "@/utils/getAlbums";
import { Button } from "@/components/ui/button";

export async function getStaticPaths() {
  const albums = await getAlbums();
  return albums.map((album) => ({
    params: { slug: album.data.slug },
    props: { album },
  }));
}

const { album } = Astro.props;
---

<Layout title={album.name}>
  <div class="max-w-xl flex flex-col items-center">
    <h2 class="text-lg font-bold w-full pb-4">{album.name}</h2>
    <Gallery images={album.photos} name={album.name} client:load />
    <br />
    <a href="/"> <Button variant="secondary">Return to Portfolio</Button></a>
  </div>
</Layout>
