---
const { album } = Astro.props;
---

<figure class="bg-gray-50 shadow-lg relative inline-block mb-3">
  <a href={album.data.slug}>
    <img class="block h-auto" src={album.cover} alt={album.data.name} />
    <div
      class="flex flex-col items-center justify-center font-thin absolute bottom-0 md:top-0 w-full py-4 bg-slate-600/50 text-slate-50 hover:opacity-100 md:opacity-0 transition-opacity"
    >
      <h2 class="">{album.data.name}</h2>
      <h3 class="italic text-sm opacity-70">— view —</h3>
    </div>
  </a>
</figure>
