---
import { Button } from "./ui/button";
import { getCollection } from "astro:content";

const contacts = await getCollection("contact")
---

<div
  class="w-full flex flex-col gap-2 flex-wrap items-center justify-center py-8 mt-auto"
  id="contact"
>
  <div>
    {
      contacts.map((i) => (
        <a href={i.data.link} target="_blank" rel="noopener noreferrer">
          <Button variant="link" size="sm" className="px-2 text-muted-foreground">
            {i.data.name}
          </Button>
        </a>
      ))
    }
  </div>
  <div class="text-muted-foreground opacity-70 text-xs font-thin">
    &copy; {new Date().getFullYear()} Riley Paul
  </div>
</div>
