---
import data from "./../data/contact.json";
---

<div
  class="w-full flex flex-wrap items-center justify-center py-8 mt-auto"
  id="contact"
>
  <div class="flex gap-4 text-gray-500 text-xs font-thin">
    {
      data.map((i) => (
        <a href={i.link} target="_blank" rel="noopener noreferrer">
          {i.name}
        </a>
      ))
    }
    <a href="none">&copy; {new Date().getFullYear()} Riley Paul</a>
  </div>
</div>
