---
import contacts from "./../data/contact.json";

const { title = "Riley Paul" } = Astro.props;
---

<nav>
  <div class="group">
    <a href="/">
      <img src="/favicon.png" alt="logo" />
    </a>
    <div class="link-container responsive">
      <a href="/portfolio/">Portfolio</a>
    </div>
    <div class="link-container responsive">
      <a href="/about/">About</a>
    </div>
    {
      contacts.map((c) => (
        <div class="link-container responsive">
          <a href={c.link} target="_blank" rel="noopener noreferrer">
            <i class={c.icon} />
          </a>
        </div>
      ))
    }
  </div>
  <div class="group right">
    {title}
  </div>
</nav>

<style lang="scss">
  nav {
    width: 100%;
    height: var(--navHeight);
    padding: 0 var(--pagePadding);

    background-color: var(--bg);
    box-shadow: var(--boxShadow);
    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 100;
    position: sticky;
    top: 0;
  }

  .responsive {
    @media screen and (max-width: 650px) {
      display: none;
    }
  }

  .right {
    text-align: right;
  }

  div.group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--gap);
  }

  img {
    height: calc(var(--navHeight) / 1.5);
  }

  div.link-container {
    color: var(--textSoft);
    padding: 3px 0;

    & a {
      text-decoration: inherit;
      color: inherit;
    }

    background-image: linear-gradient(var(--text), var(--text));
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active,
    & .active {
      background-size: 100% 0.1em;
      color: var(--text);
    }
  }
</style>
