---
import contacts from "./../data/contact.json";

const { title = "Riley Paul" } = Astro.props;
---

<nav class="w-full bg-red-500 shadow-lg top-0 z-50 sticky">
  <div class="flex items-center justify-between p-4">
    <a id="logo" href="/">
      <img class="h-12" src="/favicon.png" alt="logo" />
    </a>
    <i class="fa-solid fa-bars text-lg px-4"></i>
  </div>

  <ul
    id="header-links"
    class="flex flex-col items-center gap-4 py-4 text-gray-600 bg-gray-400"
  >
    <li class="link-container"><a href="/portfolio/">Portfolio</a></li>
    <li class="link-container"><a href="/about/">About</a></li>
    <div id="social" class="flex gap-6">
      {
        contacts.map((c) => (
          <li class="link-container">
            <a href={c.link} target="_blank" rel="noopener noreferrer">
              <i class={c.icon} />
            </a>
          </li>
        ))
      }
    </div>
  </ul>
  <!-- <span id="page-title">{title}</span> -->
</nav>

<style lang="scss">
  div.link-container {
    padding: 3px 0;

    background-image: linear-gradient(var(--text), var(--text));
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active,
    & .active {
      background-size: 100% 0.1em;
      color: var(--text);
    }
  }
</style>
