---
export interface Props {
  to: string;
  text?: string;
  icon?: string;
  external?: boolean;
}

const { to, text, icon, external } = Astro.props;
---

<div>
  <a
    href={to}
    target={external ? "_blank" : ""}
    rel={external ? "noopener noreferrer" : ""}
    >{icon ? <i class={icon} /> : text}
  </a>
</div>

<style lang="scss">
  div {
    color: var(--textSoft);
    padding: 3px 0;

    & a {
      text-decoration: inherit;
      color: inherit;
    }

    background-image: linear-gradient(var(--text), var(--text));
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active,
    & .active {
      background-size: 100% 0.1em;
      color: var(--text);
    }
  }
</style>
