---
import Layout from "./Layout.astro";

import formatDate from "../utils/formatDate";

interface props {
  title: string;
  date: Date;
  cover: string;
}

const { title, date, cover } = Astro.props.frontmatter;
---

<Layout title={title}>
  <div class="prose">
    <h1 class="mb-0">{title}</h1>
    <span>{formatDate(date)}</span>
    <slot />
  </div>
</Layout>
