---
export interface Props {
  title?: string;
}

const { title } = Astro.props;

import "@/main.css";
import Navbar from "../components/Navbar.jsx";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <link rel="icon" type="image/png" href="/favicon.svg" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;600&family=Montserrat:ital,wght@0,200;0,400;0,600;1,200&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/c961af0e55.js"
      crossorigin="anonymous"></script>

    <meta name="generator" content={Astro.generator} />
    <title>{"Riley Paul" + (title ? ` - ${title}` : "")}</title>
  </head>
  <body class="">
    <Navbar client:load pathname={Astro.url.pathname} />
    <main class="py-4 container">
      <slot />

      <Footer>
        <slot name="footer-button" />
      </Footer>
    </main>
  </body>
</html>
