---
import Layout from "@/layouts/Layout.astro";
import Gallery from "../../components/Gallery.jsx";
import getAlbums from "@/lib/getAlbums";
import { buttonVariants } from "@/components/ui/button";

export async function getStaticPaths() {
  const albums = await getAlbums();
  return albums.map((album) => ({
    params: { slug: album.data.slug },
    props: { album },
  }));
}

const { album } = Astro.props;
---

<Layout title={album.data.name}>
  <h2 class="text-lg font-bold w-full pb-4">{album.data.name}</h2>
  <Gallery images={album.photos} name={album.data.name} client:load />
  <br />
  <div class="mt-8 w-full flex justify-center">
    <a href="/" class={buttonVariants({ variant: "secondary" })}>
      Return to Portfolio
    </a>
  </div>
</Layout>
