---
import Layout from "../../layouts/Layout.astro";
import Gallery from "../../components/Gallery.svelte";
import { getAlbums } from "../../utils/getAlbums";

export async function getStaticPaths() {
  const albums = await getAlbums();

  return albums.map((album) => ({
    params: { id: album.id },
    props: { album },
  }));
}

const { album } = Astro.props;
---

<Layout title={album.name}>
  <div class="max-w-xl flex flex-col items-center">
    <h2 class="text-lg font-bold w-full py-4">{album.name}</h2>
    <Gallery images={album.photos} name={album.name} client:load/>
    <button class="bg-slate-50 px-4 py-2 rounded text-slate-600 m-4">
      <a href="/">Return to Portfolio</a>
    </button>
  </div>
</Layout>
