---
import Layout from "../../layouts/Layout.astro";
import { getAlbums } from "../../utils/getAlbums";

export async function getStaticPaths() {
  const albums = await getAlbums();

  return albums.map((album) => ({
    params: { id: album.id },
    props: { album },
  }));
}

const { album } = Astro.props;
---

<Layout title={album.name}>
  <div class="container">
    {
      album.photos.map((image) => (
        <div class="image-container">
          <img src={image} alt="" />
        </div>
      ))
    }
  </div>
</Layout>

<style lang="scss">

  div.container {
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
  }

  div.image-container {
    height: calc(100vh - var(--navHeight) - 2 * var(--pagePadding) + 10px);
    display: flex;
    align-items: center;
    justify-content: center;

    scroll-snap-align: center;

    & img {
      width: 100%;
      height: 100%;

      align-self: center;
      object-fit: contain;
      max-width: 100%;
      /* box-shadow: ${({ theme }) => theme.boxShadow}; */
      z-index: 1;
    }
  }
</style>
